body,p,h3 {margin:0;}
body,html {height:100%; width: 100%; font-family: 'Roboto', sans-serif; font-size: 18px; font-color: #5f5f5f;}

a{
  cursor: pointer;
}

hr{
  border: 0px;
  background-color: #6f6f6f;
  height: 1px;
}

#container {
  position:relative;
  margin:0 auto;
  padding:0;
  width: 80%;
  height:100%;
  overflow:hidden;
}

#text {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  color:white;
  text-align:center;
}

#text img {
  width:100px;
  height:auto;
  border-radius:100px;
}

#text p,
#text h3,
#text a {
  margin:20px 0;
}

#text h3 {
  font-size:28px;
}

#text a {
	padding:15px 30px;
  display:inline-block;
  color:white;
  text-decoration:none;
  background:rgba(255,255,255,.2);
  border:2px solid white;
  border-radius:6px;
  transition:.3s ease all;
}

#text a:hover {
  background:white;
  color:gray;
}

#parallax {
  z-index:-1;
  position:fixed;
  width:100%;
  height:100%;
  background:url('./img/skybg.jpg') center no-repeat transparent;
  background-size: cover;
}

#content {
	margin: 0 auto;
  padding: 10%;
  background:white;
  margin-left: 10%;
  width: 100%;

}

#content p {
	margin:20px 0;
  width:100%;
}



.sidebar{
  height: 100%;
  background-color: #2f2f2f;
  width: 12%;
  top: 0;
  left: 0;
  position: fixed;
}

#sidebarspace{
  height: 200px;
  width: auto;
  position: relative;
}

.sidebar-content{
  padding: 20px;
  color: #D2B48C;
}

.sidebar-content a{
  color: #D2B48C;
  text-transform: uppercase;
  padding-bottom: 5px;
  text-align: center;
}

.sidebar-content a:hover{
  text-decoration: none;
  color: #B8860B;
}