<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Joanne Wu | Work</title>
    <link rel="icon" type="image/png" href="images/favicon.ico">
    <link href='http://fonts.googleapis.com/ccss?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link href="./css/bootstrap.css" rel="stylesheet">
    <link href="./css/stylesheet.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="about">About</a></li>
            <li><a href="work">Work</a></li>
            <li><a href="contact">Contact</a></li>
          </ul>
        </div>
      </nav>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="index-header center-text">
            <hr></hr>
            <h4>
              About Me
            </h4>
            <hr></hr>
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
              <br>
              <img src="img/self.jpg" alt="" class="img-responsive"/>
              <br>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
              <br>
              <p>
                I'm a software developer who aims to build applications that look good and work even better.
              </p>
              <p>
                I'm currently studying Computer Science at the University of California, San Diego. Informally, I'm learning to solve data driven problems with visual solutions, what makes for beautiful user experiences, and how to conceivably retain all the information I read on the internet.
              </p>
              <p>
                In my spare time, you'll find me drinking caffeine while making lists, extracting chunks of my brain through writing, and looking for new places to eat.
              </p>
              <br>
            </div>
          </div>
        </div>
      </div>





      <footer>
        <div class="nav navbar-nav col-lg-12 col-md-12 col-sm-12 center-text footer-style">
          Made with care by <a href="mailto: jotiwu@gmail.com">Joanne</a>, 2015.
        </div>
      </footer>
      
      {{> analytics}}
    </div><!--End container-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
  </body>
</html>
