<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Joanne Wu | Work</title>
    <link rel="icon" type="image/png" href="images/favicon.ico">
    <link href='http://fonts.googleapis.com/ccss?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link href="./css/bootstrap.css" rel="stylesheet">
    <link href="./css/stylesheet.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="work">Work</a></li>
            <li class="active"><a href="contact">Contact</a></li>
          </ul>
        </div>
      </nav>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="index-header center-text">
            <hr></hr>
            <h4>
              Contact Me
            </h4>
            <hr></hr>
            <br>
            <p>
              ...if you are interested in working together on a project, philosophizing about life, geeking out over technology or design, or just want to say hi. 
              <br>
              I look forward to hearing your thoughts!
            </p>
            <h5><a href="mailto:jotiwu@gmail.com">Send an E-mail</a></h5>
            <div class="vertical-space"></div>
            <h4>I'm also around the internet!</h4>
            <h5>
              <a href="http://wujots.github.com">GitHub</a> &amp; 
              <a href="http://pinterest.com/conscious">Pinterest</a> &amp;
              <a href="http://wujots.twitter.com">Twitter</a>
            </h5>

          </div>
        </div>
      </div>

      <footer>
        <div class="nav navbar-nav col-lg-12 col-md-12 col-sm-12 center-text footer-style">
          Made with care by <a href="mailto: jotiwu@gmail.com">Joanne</a>, 2015.
        </div>
      </footer>
      
      {{> analytics}}
    </div><!--End container-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
  </body>
</html>
