<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Joanne Wu | Projects</title>
    <link rel="icon" type="image/png" href="images/favicon.ico">
    <link href='http://fonts.googleapis.com/ccss?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link href="./css/bootstrap.css" rel="stylesheet">
    <link href="./css/stylesheet.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="about">About</a></li>
            <li class="active2"><a href="work">Work</a></li>
             <li><a href="contact">Contact</a></li>
          </ul>
        </div>
      </nav>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="index-header center-text">
            <hr></hr>
            <h4>
              Gruupsy
            </h4>
            <hr></hr>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-lg-12">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <h5>
              Description
            </h5>
            <hr></hr>
            Gruupsy is a social web service that provides group discounts to activities in the San Diego area. It allows individuals to search for activities happening soon.
            <div class="vertical-space2"></div>
            <h5>
              Role
            </h5>
            <hr>
            Project Manager, Front-end Developer
            <div class="vertical-space2"></div>
            <h5>
              Collaborators
            </h5>
            <hr>
            John Chang, Karen Kim
            <div class="vertical-space2"></div>
            <h5>
              Tools + Frameworks
            </h5>
            <hr>
            HTML5, CSS3, JavaScript, Twitter Bootstrap
            <div class="vertical-space2"></div>
            <br>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <img src="img/gruupsy/gruupsyhome.png" alt="" class="img-responsive"/>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 featured-box">
                  <p>
                  <h5>Challenge: </h5>
                  While there are services out there geared for business members to advertise to customers, Gruupsy wants students to be able to take the initiative to create their own events for which others are open to attend, as well gather groups to purchase tickets to events at a group discount. However, it would be difficult to convert users from existing platforms, and it was unclear whether they would be enthusiastic about having to put effort into contributing.
                  <div class="vertical-space2"></div>
                  <h5>Approach:</h5>
                  First, websites that offered similar services were examined for their technique and execution and the findings of the positives, what to avoid, and other extracted ideas were compiled into a competitive analysis report. Next, research had to be done to understand how users utilized existing services; surveys were conducted by watching how students interacted with sites such as Groupon, Massdrop, or the UCSD recreation site, and the problems were identified; these problems are what is to mainly be addressed in the first version of Gruupsy.
                  <div class="vertical-space2"></div>
                  <h5>Content Creation:</h5>
                  A sketched version of the potential site was created and evaluated among group members for possible areas of needing redesign. Based on the initial sketches and collected information about usage and competitors, wireframes were prototyped and created on paper and later, Balsamiq. Images chosen for the pages were high res to try to provide an immersive feeling to evoke what it could be like to attend some of the exciting events. Finally, the front end of the site was coded up based on the low fidelity wireframes.
                  </p>
                  <div class="vertical-space2"></div>
                  <h5>
                    Wireframes
                  </h5>
                  <div class="row">
                    <img src="img/gruupsy/gru1.png" alt="" class="col-md-6 col-lg-6 col-sm-6 col-xs-6 img-responsive"/>
                    <img src="img/gruupsy/gru2.png" alt="" class="col-md-6 col-lg-6 col-sm-6 col-xs-6 img-responsive"/>
                    <img src="img/gruupsy/gru4.png" alt="" class="col-md-6 col-lg-6 col-sm-6 col-xs-6 img-responsive"/>
                    <img src="img/gruupsy/gru3.png" alt="" class="col-md-6 col-lg-6 col-sm-6 col-xs-6 img-responsive"/>
                  </div>
                  <div class="vertical-space2"></div>
                  <h5>
                    The Final Explore Page
                  </h5>
                  <img src="img/gruupsy/gruupsyexplore.png" alt="" class="img-responsive"/>
                  <div class="vertical-space2"></div>
                </div>
          </div>

          <div class="vertical-space2"></div>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center-text featured-box">
                <span id="button">
                  <a href="work">See Other Projects.</a>
                </span>
              </div>
            </div>

        </div>
      </div>

        <footer>
        <div class="nav navbar-nav col-lg-12 col-md-12 col-sm-12 center-text footer-style">
          Made with care by <a href="mailto: jotiwu@gmail.com">Joanne</a>, 2015.
        </div>
      </footer>
      </div>

      
      
      {{> analytics}}
    </div><!--End container-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
  </body>
</html>
