<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Joanne Wu | Projects</title>
    <link rel="icon" type="image/png" href="images/favicon.ico">
    <link href='http://fonts.googleapis.com/ccss?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link href="./css/bootstrap.css" rel="stylesheet">
    <link href="./css/stylesheet.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="about">About</a></li>
            <li class="active2"><a href="work">Work</a></li>
             <li><a href="contact">Contact</a></li>
          </ul>
        </div>
      </nav>

      <!--<div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 center-text">
          <h1>JOANNE T. WU</h1>
        </div>
      </div>-->

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="index-header center-text">
            <hr></hr>
            <h4>
              Ice Blast Shaved Ice
            </h4>
            <hr></hr>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-lg-12">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <h5>
              Description
            </h5>
            <hr></hr>
            Ice Blast Shaved Ice received a redesigned website layout with updated images, structure, and content. The objective of the new website is to draw in more customers by creating a tasty and alluring experience for all visitors of the site.
            <div class="vertical-space2"></div>
            <h5>
              Role
            </h5>
            <hr>
            Front-end Developer
            <div class="vertical-space2"></div>
            <h5>
              Collaborators
            </h5>
            <hr>
              <a href="http://josephle.me">Joseph Le</a>, Jamie Santos
            <div class="vertical-space2"></div>
            <h5>
              Tools + Frameworks
            </h5>
            <hr>
            HTML5, CSS, Twitter Bootstrap, JavaScript + jQuery
            <div class="vertical-space2"></div>
            <h5>
              Live Site
            </h5>
            <hr>
            <a href="http://iceblast.surge.sh">Ice Blast Shaved Ice</a>
            <br>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <img src="img/iceblast/ibindex.png" alt="" class="col-md-12 col-lg-12 col-sm-12 col-xs-12 img-responsive"/>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 featured-box">
                  <p>
                  <h5>Project Description:</h5>
                  Ice Blast Shaved Ice is a cherished local dessert shop that is highly rated on Yelp, but it did not have a website to convey its appeal. The redesign aims to provide an experience more fitting of the establishment.
                  <div class="vertical-space2"></div>
                  <h5>Project Scope:</h5>
                  <ul>
                    <li>Client proposal and requirements gathering</li>
                    <li>User studies (surveys, interviews, creation of personas, user scenarios, and use cases)</li>
                    <li>Competitive analysis</li>
                    <li>Creative brief to be discussed with client</li>
                    <li>Rapid prototyping with low-fidelity wireframes</li>
                    <li>Implementation of final prototype to working site</li>
                  </ul>
                  </p>
                  <div class="vertical-space2"></div>
                  <div class="row">
                    <h5>
                      Before
                    </h5>
                    <img src="img/iceblast/ibb4.png" alt="" class="img-responsive"/>
                  
                  <div class="vertical-space2"></div>
                  <h5>
                    Wireframes
                  </h5>
                  
                  <div class="row">
                    <img src="img/iceblast/ib1.png" alt="" class="col-md-6 col-lg-6 col-sm-12 col-xs-12 img-responsive"/>
                    <img src="img/iceblast/ib2.png" alt="" class="col-md-6 col-lg-6 col-sm-12 col-xs-12 img-responsive"/>
                  </div>
                  <div class="vertical-space2"></div>
                  <div class="row">
                    <img src="img/iceblast/ib3.png" alt="" class="col-md-6 col-lg-6 col-sm-12 col-xs-12 img-responsive"/>
                    <img src="img/iceblast/ib4.png" alt="" class="col-md-6 col-lg-6 col-sm-12 col-xs-12 img-responsive"/>

                  </div>
                </div>
          </div>

          <div class="vertical-space2"></div>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center-text featured-box">
                <span id="button">
                  <a href="work">See Other Projects.</a>
                </span>
              </div>
            </div>

        </div>
      </div>

          
      </div>

      <footer>
        <div class="nav navbar-nav col-lg-12 col-md-12 col-sm-12 center-text footer-style">
          Made with care by <a href="mailto: jotiwu@gmail.com">Joanne</a>, 2015.
        </div>
      </footer>
      
      {{> analytics}}
    </div><!--End container-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
  </body>
</html>
