<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Joanne Wu | Projects</title>
    <link rel="icon" type="image/png" href="images/favicon.ico">
    <link href='http://fonts.googleapis.com/ccss?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link href="./css/bootstrap.css" rel="stylesheet">
    <link href="./css/stylesheet.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="about">About</a></li>
            <li class="active2"><a href="work">Work</a></li>
             <li><a href="contact">Contact</a></li>
          </ul>
        </div>
      </nav>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="index-header center-text">
            <hr></hr>
            <h4>
              University of Leicester Redesign
            </h4>
            <hr></hr>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-lg-12">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <h5>
              Description
            </h5>
            <hr></hr>
            The university page redesign was done as a study of usability and information architecture for COGS 187a. In a weeks time, we rebuilt the poorly designed site, specifically addressing the landing page and pages on the paths to admissions and applying for financial aid.
            <div class="vertical-space2"></div>
            <h5>
              Role
            </h5>
            <hr>
            Information Architect/UX Researcher, Front-End Developer
            <div class="vertical-space2"></div>
            <h5>
              Collaborators
            </h5>
            <hr>
            John Chang, Karen Kim
            <div class="vertical-space2"></div>
            <h5>
              Tools + Frameworks
            </h5>
            <hr>
            HTML5, CSS3, JavaScript, Twitter Bootstrap
            <div class="vertical-space2"></div>
            <br>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                  <p>
                  <h5>Approach: </h5>
                  <p>
                    The problem we had to solve was to identify what were the challenges of using the original university site, and resolve these issues in our redesign. To do this, each team member went on the site and individually went through the pages to determine usability issues. We created personas of potential users of the site and wrote specific use cases that they may be there for. Then, we went through the pages as each persona type and evaluated the difficulty and number of clicks it required to reach each destination.
                  </p>
                  <p>
                    Next, we went on the websites of five other university pages to examine their layout, what links were made available on each page, and how they chose to present their information. We created a competitive analysis to assess what is considered the convention for home page links, the type of navigation, and the structure of the site. With this data, we came up with a cross between the competitors' sites and our own ideas as the general idea of how we wanted our redesign to be.
                  </p>
                  <div class="vertical-space2"></div>
                  <h5>Process:</h5>
                  <p>
                    With our collected information, we sketched up our redesign, the created wireframes for the pages that were to be coded. We wrote the code to set up the home page as well as second and third pages that were clicked through on the way to finding out more about financial aid. For other main pages that were not created with code, we created high fidelity wireframes to demonstrate what the page would look like.
                  </p>
                  <p>
                    Finally, we wrote about the hardest decisions made during the design process. With everything completed, we finalized the site and prepared to present our redesign. Our presentation addressed the improvements in our redesign, the heuristics we addressed, and more explanation about specific design choices.
                  </p>
                  <div class="vertical-space2"></div>
                  <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                      <h5>Before</h5>
                      <img src="img/uni/uoloriginal.jpg" alt="" class=" img-responsive"/>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                      <h5>After</h5>
                      <img src="img/uni/uolhome.jpg" alt="" class=" img-responsive"/>
                    </div>
                  </div>
                  <div class="vertical-space2"></div>
                </div>
          </div>

          <div class="vertical-space2"></div>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center-text featured-box">
                <span id="button">
                  <a href="work">See Other Projects.</a>
                </span>
              </div>
            </div>

      </div>

      <footer>
        <div class="nav navbar-nav col-lg-12 col-md-12 col-sm-12 center-text footer-style">
          Made with care by <a href="mailto: jotiwu@gmail.com">Joanne</a>, 2015.
        </div>
      </footer>
      </div>
      
      {{> analytics}}
    </div><!--End container-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
  </body>
</html>
