<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Joanne Wu | Work</title>
    <link rel="icon" type="image/png" href="images/favicon.ico">
    <link href='http://fonts.googleapis.com/ccss?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link href="./css/bootstrap.css" rel="stylesheet">
    <link href="./css/stylesheet.css" rel="stylesheet">
    <link href="./css/set2.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="about">About</a></li>
            <li class="active"><a href="work">Work</a></li>
            <li><a href="contact">Contact</a></li>
          </ul>
        </div>
      </nav>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="index-header center-text">
            <hr></hr>
            <h4>
              Most Recent Projects
            </h4>
            <hr></hr>
          </div>
        </div>
      </div>

      <div class="row">
        <!--<a href="moodmap">
          <img src="http://placemi.com/350x350" alt="" class="img-margin col-md-6 col-lg-4 col-sm-12 col-xs-12 img-responsive"/>
        </a>-->
        <div class="grid">
          <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <figure class="effect-apollo">
              <img src="img/moodmap/350x350.jpg" alt="img01" class="img-margin img-responsive"/>
              <figcaption>
                <h2><span>Mood</span> Map</h2>
                <p>Web Application</p>
                <a href="moodmap">View more</a>
              </figcaption>
          </div>  
          <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <figure class="effect-apollo">
              <img src="img/moodmap/350x350.jpg" alt="img01" class="img-margin img-responsive"/>
              <figcaption>
                <h2>Ice <span>Blast</span></h2>
                <p>Web<br> Design</p>
                <a href="iceblast">View more</a>
              </figcaption>
          </div>  
          <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <figure class="effect-apollo">
              <img src="img/moodmap/350x350.jpg" alt="img01" class="img-margin img-responsive"/>
              <figcaption>
                <h2><span>ground</span>up!</h2>
                <p>Web Application</p>
                <a href="groundup">View more</a>
              </figcaption>
          </div>  
          <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <figure class="effect-apollo">
              <img src="img/moodmap/350x350.jpg" alt="img01" class="img-margin img-responsive"/>
              <figcaption>
                <h2>Gruupsy</span></h2>
                <p>Web<br> Design</p>
                <a href="gruupsy">View more</a>
              </figcaption>
          </div>  
          <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <figure class="effect-apollo">
              <img src="img/moodmap/350x350.jpg" alt="img01" class="img-margin img-responsive"/>
              <figcaption>
                <h2><span>University of Leicester</span> Redesign</h2>
                <p>Web<br> Design</p>
                <a href="uni">View more</a>
              </figcaption>
          </div>  
          <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <figure class="effect-apollo">
              <img src="img/moodmap/350x350.jpg" alt="img01" class="img-margin img-responsive"/>
              <figcaption>
                <h2>Menyou</h2>
                <p>iOS<br> Application</p>
                <a href="menyou">View more</a>
              </figcaption>
          </div>  
      </div>

    </div> <!--contaner-->

      <footer>
        <div class="nav navbar-nav col-lg-12 col-md-12 col-sm-12 center-text footer-style">
          Made with care by <a href="mailto: jotiwu@gmail.com">Joanne</a>, 2015.
        </div>
      </footer>
      
      {{> analytics}}
    </div><!--End container-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
  </body>
</html>
